html,body{
	background: #454545;
	line-height: 1.7;
	height: 100%;
}

a{
	text-decoration: none;
}

a,body{
	color: #eee;
}

.header .logo{
	font-size: 30px;
	padding: 10px 20px;
	border: 5px solid #eee;
	display: inline-block;
	margin-bottom: 10px;
}

.left-side-bar{
	float: left;
	width: 20%;
	position: fixed;
}

.left-side-bar >*{
	padding: 10px 15px;
}

.left-side-bar .nav a,
.left-side-bar .list a{
	display: block;
	padding: 5px;
	color: #888888;
	font-weight: 600;
}

.left-side-bar .nav a:hover,
.left-side-bar .list a:hover{
	color: #FFFFFF;
}

.nav .list{
	display: block;
}

.main {
	float: right;
	width: 80%;
	color: #888888;
	background: #FFFFFF;
	height: 95%;
	margin-right: 5%;
}

.article{
	background: #FFFFFF;
	
	padding: 20px 30px;
}

.title{
	color: #454545;
	font-size: 22px;
	font-weight: 600;
}
